{% extends 'base.html' %}

{% block title %}Всі пости{% endblock %}

{% block h1 %}Настольні ігри{% endblock %}

{% block body %}

{% for el in articles %}
<div class="alert alert-success">
  <h2>{{ el.title }}</h2><br>
  <p>Номер запису: {{ el.id }}</p>
  <p>Дата створення: {{ el.date.date() }}</p>
  <a href="/posts/{{ el.id }}" class="btn btn-success">Detail</a>
  <a href="/posts/{{ el.id }}/delete" class="btn btn-danger">Delete</a>
  <a href="/posts/{{ el.id }}/posts_update" class="btn btn-warning">Edit</a>

</div>
{% endfor %}

{% endblock %}
